<?xml version="1.0" encoding="utf-8" ?>
    <MenuRoot>
        <Menu text="Sort" >
            <SubMenu text="Quick"></SubMenu>
            <SubMenu text="Bubble"></SubMenu>
            <SubMenu text="Insertion"></SubMenu>
        </Menu>
         <Menu text="Tree" >
             <SubMenu text="RnB"></SubMenu>
             <SubMenu text="Binary"></SubMenu>
             <SubMenu text="N-nary"></SubMenu>
             <SubMenu text="AVL"></SubMenu>
        </Menu>
         <Menu text="Graphs" >
            <SubMenu text="Shortest Path"></SubMenu>
            <SubMenu text="BFS"></SubMenu>
            <SubMenu text="DFS"></SubMenu>
            <SubMenu text="Min Span Tree"></SubMenu>
        </Menu>
    </MenuRoot>