<?xml version="1.0" encoding="utf-8" ?>
<MenuRoot>
	<Menu id="1" text="Sort" >
		<SubMenu> 1.Quick </SubMenu>
		<SubMenu> 2.Bubble </SubMenu>
		<SubMenu> 3.Insertion </SubMenu>
	</Menu>
	<Menu id="2" text="Search" >
		<SubMenu> 1.Linear </SubMenu>
		<SubMenu> 2.Binary </SubMenu>
	</Menu>
	<Menu id="3" text="Tree" >
		<SubMenu> 1.RnB </SubMenu>
		<SubMenu> 2.Binary </SubMenu>
		<SubMenu> 3.N-nary </SubMenu>
		<SubMenu> 4.AVL </SubMenu>
	</Menu>
	<Menu id = "4" text="Graphs" >
		<SubMenu> 1.Shortest Path </SubMenu>
		<SubMenu> 2.BFS </SubMenu>
		<SubMenu> 3.DFS </SubMenu>
		<SubMenu> 4.Min Span Tree </SubMenu>
	</Menu>
</MenuRoot>