<?xml version="1.0" encoding="utf-8" ?>
    <MenuRoot>
        <Menu text="Sort" >
            <Sort id="Quick"></Sort>
            <Sort id="Bubble"></Sort>
            <Sort id="Insertion"></Sort>
        </Menu>
        <Menu text="Search" >
            <Search id="Linear"></Search>
            <Search id="Binary"></Search>
        </Menu>
         <Menu text="Tree" >
             <Tree id="RnB"></Tree>
             <Tree id="Binary"></Tree>
             <Tree id="N-nary"></Tree>
             <Tree id="AVL"></Tree>
        </Menu>
         <Menu text="Graphs" >
            <Graphs id="Shortest Path"></Graphs>
            <Graphs id="BFS"></Graphs>
            <Graphs id="DFS"></Graphs>
            <Graphs id="Min Span Tree"></Graphs>
        </Menu>
    </MenuRoot>